<div id="ctn">
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form>
    <h3>Login Here</h3>

    <label for="username">Username</label>
    <input type="text" placeholder="Email or Phone" id="username" />

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password" />

    <button routerLink="" style="color: black;">Log In</button>
    <div class="social">
      <div 
	  	class="go flex flex-row items-center justify-center"> <span>Google</span></div>
      <div class="fb flex flex-row items-center justify-center"> <span>Facebook</span></div>
    </div>
  </form>
</div>
