.main-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #e2e8f0;
    gap: 2rem;
    padding: 2rem;

    .stat-container{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
        border-radius: 2rem;
        width: 30%;
        height: 100%;
        background-color: white;

        .title-container{
            display: flex;
            flex-direction: row;
            gap: 1rem;

            .btn-add {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 15px;
                padding: 5px 8px 5px 8px;
                background-color: #0284c7;
                color: white;
            }
        }
    }

    .calendar-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 65%;
        height: 100%;
        border-radius: 2rem;
        background-color: white;
        padding: 2rem;
    }
}