<div class="main-container">
    <div class="stat-container">
        <div class="title-container">
            <h2>Les events </h2> 
            <div class="btn-add" routerLink="event/add">
                Ajouter evenement
            </div>
        </div>
        <app-event-list></app-event-list>
        <h2> Les personnels </h2>
        <app-personnel-list></app-personnel-list>
    </div>
    <div class="calendar-container">
        <app-calendar></app-calendar>
        <h2> Les equipes </h2>
        <app-team-list></app-team-list>
    </div>
</div>