<div class="form-container">
  <form [formGroup]="eventForm" (ngSubmit)="onSubmitForm()">
    <mat-form-field>
      <mat-label>titre de l'evenement</mat-label>
      <input matInput formControlName="title" >
      <mat-error *ngIf="title.hasError('required')">Ce champ est requis</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Date de debut</mat-label>
      <input matInput formControlName="start">
      <mat-error *ngIf="start.hasError('required')">Ce champ est requis</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Date de fin</mat-label>
      <input matInput formControlName="end">
      <mat-error *ngIf="end.hasError('required')">Ce champ est requis</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>titre du mission</mat-label>
      <input matInput formControlName="missionName">
      <mat-error *ngIf="missionName.hasError('required')">Ce champ est requis</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description du mission</mat-label>
      <input matInput formControlName="missionDescription">
      <mat-error *ngIf="missionDescription.hasError('required')">Ce champ est requis</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Selectionner l'equipe</mat-label>
      <mat-select formControlName="team">
        <mat-option value="option">Equipe 1</mat-option>
        <mat-option value="option">Equipe 2</mat-option>
        <mat-option value="option">Equipe 3</mat-option>
      </mat-select>
      <mat-error *ngIf="team.hasError('required')">Ce champ est requis</mat-error>
    </mat-form-field>
  
    <button type="submit" [disabled]="eventForm.invalid"> Confirmer </button>
  </form>
</div>